<h1>New shorter</h1>

<% form_for(@shorter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :short_url %><br />
    <%= f.text_field :short_url %>
  </p>
  <p>
    <%= f.label :current_id %><br />
    <%= f.text_field :current_id %>
  </p>
  <p>
    <%= f.label :count %><br />
    <%= f.text_field :count %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', shorters_path %>