<h1>Listing currents</h1>

<table>
  <tr>
    <th>Resolved url</th>
  </tr>

<% @currents.each do |current| %>
  <tr>
    <td><%=h current.resolved_url %></td>
    <td><%= link_to 'Show', current %></td>
    <td><%= link_to 'Edit', edit_current_path(current) %></td>
    <td><%= link_to 'Destroy', current, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New current', new_current_path %>